@{
    ViewData["Title"] = "AtividadeGabriel.Alves";
}

<div class="text-center">
    <h1 class="display-4">SEJA BEM VINDO AO MEU SITE </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.<a>
    </a> Voluptatibus numquam placeat doloribus cupiditate, sit adipisci. Quam in aliquid dolorum cupiditate itaque. Eligendi maxime odit hic perferendis! Illo,
       deleniti. Perferendis, temporibus. </p>
</div>

<div>
<a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fguia.melhoresdestinos.com.br%2Filha-grande-191-c.html&psig=AOvVaw3rVclsTAgXXyTSfL32qw99&ust=1669756475220000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJDqvvLl0fsCFQAAAAAdAAAAABAE"></a>


<div class="alert alert-primary" role="alert">
  O site é bem simples porque estou aprendendo 

